<!-- index.html - Maximilian Schiller 2020 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%=name%> - Erstelle einen Account</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="<%=name%> - Erstelle einen Account">
    <meta name="description" content="Du wurdest eingeladen der Klasse <%=klasse%> als <%=roleString%> beizutreten.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://zgk.mxis.ch/register/?token=Ev0jyu6DMPNsrz1f">
    <meta property="og:title" content="<%=name%> - Erstelle einen Account">
    <meta property="og:description" content="Du wurdest eingeladen der Klasse <%=klasse%> als <%=roleString%> beizutreten.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://zgk.mxis.ch/register/?token=Ev0jyu6DMPNsrz1f">
    <meta property="twitter:title" content="<%=name%> - Erstelle einen Account">
    <meta property="twitter:description" content="Du wurdest eingeladen der Klasse <%=klasse%> als <%=roleString%> beizutreten.">
    <meta property="twitter:image" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/register/main.css">
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a id="logo" href="/" class="logo">ZGK <span id="dot" class="green">•</span><span class="green"> online</span></a>
    <a id="logout" href="/logout" class="menu" style="display: none;">Logout</a>
    <a href="/settings" class="menu" style="display: none;">Settings</a>
    <a href="/peers" class="menu" style="display: none;">Peers</a>
    <a href="javascript:void(0);" class="icon"  style="display: none;" onclick="myFunction()">
      <i class="burger fa fa-bars"></i>
    </a>
  </div>
  <main>
    <div class="container">
      <div id="user" class="login">
        <div id="register">
          <h1>Erstelle einen Account</h1>
          <p class="invite" id="invite"><%=name%></p>
          <p>Name:</p>
          <input type="text" id="name"/>
          <p>Email:</p>
          <input type="text" id="email"/>
          <p>Passwort:</p>
          <input type="password" id="password"/>
          <button id="loginBtn" type="button" onclick="createUser()">Erstellen</button>
        </div>
        <p class="message" id="error">Du hast bereits einen Account? <a href="/login">Login!</a></p>
      </div>
    </div>
  </main>
  <script src="/register/main.js"></script>
</body>

</html>